Checks: '-*,readability-*,-readability-magic-numbers,-readability-else-after-return,clang-analyzer-*,-clang-analyzer-security.insecureAPI.DeprecatedOrUnsafeBufferHandling'
CheckOptions:
  readability-identifier-length.MinimumVariableNameLength: '1'
  readability-identifier-length.MinimumParameterNameLength: '1'
  readability-function-cognitive-complexity.Threshold: '100'
