BasedOnStyle: LLVM
PointerAlignment: Right
ColumnLimit: 79
IndentWidth: 8
TabWidth: 8
ContinuationIndentWidth: 8
ConstructorInitializerIndentWidth: 8
AlwaysBreakAfterReturnType: TopLevelDefinitions
BreakBeforeBraces: Linux
IndentGotoLabels: false
ForEachMacros: ["ARRAY_FOREACH", "LIST_FOREACH", "LIST_FOREACH_REVERSE", "SLIST_FOREACH", "VEC_FOREACH", "VEC_FOREACH_IDX"]
SpaceBeforeParens: ControlStatementsExceptControlMacros
