;; jinja2 large_func.wat.jinja | wat2wasm -o large_func.wasm -

{% set NUM = NUM | default(5000) | int %}

(module
  (func $g (param i32))
  (func $large-func (export "large-func") (param i32)
    loop
{%- for x in range(NUM) %}
      (call $g (i32.const 0) (i32.load))
{% endfor -%}
      local.get 0
      i32.const 1
      i32.sub
      local.tee 0
      if
        br 0
      end
    end
  )
  (func (export "test") (param i32)
    i32.const 1
    memory.grow
    i32.const 0xffffffff
    i32.eq
    if
      unreachable
    end
    local.get 0
    call $large-func
  )
  (memory (export "memory") 0)
)
