;; Use many parameters and results

;; wamrc: 64
;; https://github.com/bytecodealliance/wasm-micro-runtime/blob/a2d4744a2b2c587eacca66c357dc2e88925fcadd/core/iwasm/compilation/aot_emit_function.c#L708-L712
;; jinja2 -DNUM=64 many_param.wat.jinja | wat2wasm -o many_param64.wasm -
;;
;; wamr also has various limits around UINT16_MAX / INT16_MAX.
;;
;; wasmtime: 1000
;; https://github.com/bytecodealliance/wasm-tools/blob/5e8639a37260cdc1aab196f5ae5c7ae6427c214f/crates/wasmparser/src/limits.rs#L29-L30
{% set NUM = NUM | default(65535) | int %}

{% set INPUT = 100000 %}

{#
    (INPUT + NUM - 1) + (INPUT + NUM - 2) + ... + (INPUT + 0)
    = INPUT * NUM + NUM * (NUM - 1) / 2
    = 100000 * 65535 + 65535 * (65535 - 1) / 2
    = 8700885345
    = 110950753 (32-bit truncation)
#}
{% set EXPECTED = (INPUT * NUM + NUM * (NUM - 1) // 2) % 4294967296 %}

(module
  (type $add_many_params_type (func (param
    {%- for x in range(NUM) %} i32{% endfor -%}
  ) (result i32)))
  (type $pass_many_values_type (func (param
    {%- for x in range(NUM) %} i32{% endfor -%}
  ) (result
    {%- for x in range(NUM) %} i32{% endfor -%}
  )))
  (type $return_many_results_type (func (param i32) (result
    {%- for x in range(NUM) %} i32{% endfor -%}
  )))

  (func $add_many_params (export "add_many_params") (type $add_many_params_type)
    {% for x in range(NUM) -%}
    local.get {{x}}
    {% endfor -%}
    {% for x in range(NUM-1) -%}
    i32.add
    {% endfor -%}
  )
  (func $pass_many_values (export "pass_many_values") (type $pass_many_values_type)
    {% for x in range(NUM) -%}
    local.get {{x}}
    {% endfor -%}
  )
  (func $return_many_results (export "return_many_results") (type $return_many_results_type)
    {% for x in range(NUM) -%}
    (i32.add (i32.const {{x}}) (local.get 0))
    {% endfor -%}
  )
  (func $test (export "test") (param i32) (result i32)
    local.get 0
    call $return_many_results
    call $pass_many_values
    call $add_many_params
  )
  (func $test_indirect (export "test_indirect") (param i32) (result i32)
    local.get 0
    i32.const 2
    call_indirect (type $return_many_results_type)
    i32.const 1
    call_indirect (type $pass_many_values_type)
    i32.const 0
    call_indirect (type $add_many_params_type)
  )
  (func (export "_start")
    i32.const {{EXPECTED}}
    i32.const {{INPUT}}
    call $test
    block (param i32 i32)
      i32.eq
      br_if 0
      unreachable
    end
    i32.const {{EXPECTED}}
    i32.const {{INPUT}}
    call $test_indirect
    block (param i32 i32)
      i32.eq
      br_if 0
      unreachable
    end
  )
  (memory (export "memory") 1)
  (table 3 3 funcref)
  (elem (i32.const 0) func $add_many_params $pass_many_values $return_many_results)
)
